
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}






body {
    background-color: #1f2833;
    margin-bottom: 9%;
    color: #c5c6c7;

   }
   
#mainContentContainer{
    background-color:#0b0c10;
    height: auto;

}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    background-color:white;
    text-align: center;
    border-top-style: solid;
    border-top-width: 3;
    border-top-color: #66fcf1;
}
.navStyle{
    margin-bottom: 1%;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 3;
    border-bottom-color: white;
}
.mainContentStyle{
    margin-top: 4%;
  
   
}

.mainContentHeader{
    text-align: center;
}
.searchContentStyle {
    margin-top: 2%;
}
.loginStyle {
    margin-top: 2%;
    cursor: pointer;
}
#logInButton:hover{
    color: #1f2833;
    cursor: pointer;
}
#signOut:hover{
    color: #1f2833;
    cursor: pointer;
}
.imageStyle {
    width: 300px;
    height: 500px;
}
.float {
    float: left;
}

.resizeImage{
    width: 200px;
    height: auto;
}
.altNavStyle {
    margin-top: 2%;
}
a{
    color: #1f2833;
    font-size: 18px;
}
.gitLink{
    color: white;
}
.purchaseImageResize{
    width: 200px;
    height: auto;
}

.btn-primary {
    margin-top: 10px;
}

.trendingDiv, .genreDiv, .randomDiv, .searchDiv{
    width: 200px;
    height: auto;
    float: left;
    margin-left: 13%;
    /* margin-right: 3%; */
    
    
}
.trendingDiv img, .genreDiv img, .randomDiv img, .searchDiv img {
    width: 200px;
    height: 300px;
    float: left;
    
}
.dynamicButton{
    width: 200px;
    margin-bottom: 6px;
}
.titleStyle{
    font-size: 20px;
    overflow: hidden;
    height: 50px;
    width: 200px;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
    margin-left: 2%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#addToWatchList{
    background-color: #45a29e;
    border-color: #1f2833;
}
#mainDisplay{
    background-color: #45a29e;
    border-color: #1f2833;
}
#discussion{
    background-color: #45a29e;
    border-color: #1f2833;
}
#news{
    background-color: #45a29e;
    border-color: #1f2833;
}
#highlights{
    background-color: #45a29e;
    border-color: #1f2833;
}
#purchase{
    background-color: #45a29e;
    border-color: #1f2833;
}
#reviews{
    background-color: #45a29e;
    border-color: #1f2833;
}
.dynamicText{
    color: #1f2833;
}
.watchListStyle{
    text-decoration: underline;
}